{% extends "bootstrap/base.html" %}

{% block title %}Title Here{% endblock %}

{% block content %}
<link href="{{url_for('static', filename='css/site.css')}}" rel="stylesheet">
<div class="container">
    <div class="page-header tabletext">
        <h1><a href="/site/{{context.site}}">Site {{context.site}}</a></h1>
        <div class="jumbotron">
            <table class="table table-striped">
                <thead>
                <tr scope="row">
                    <th scope="col-6">&nbsp;</th>
                    <th scope="col-3">ACFT</th>
                    <th scope="col-3">CFS</th>
                </tr>

                </thead>
                <tbody>

                {% for r in context.combined %}
                <tr scope="row">
                    <td scope="col-6">
                        {{r.tag}}
                    </td>
                    <td scope="col-3">
                        {{r.acft}}
                    </td>
                    <td scope="col-3">
                        {{r.cfs}}
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>

            <br>
            <i>Reading Timestamp: {{context.timestamp}}</i>

        </div>
    </div>
    <a href="/">Home</a>
</div>
{% endblock %}
